<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-secuirty">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div th:fragment="title" style="position: absolute;background-color: #fff;right: 0;bottom: 0;border: 1px solid #122b40">
        <div style="width: 200px;">
            <p>
                <span th:text="${uname}"></span>/
                <span th:text="${user.getRole()}"></span>
            </p>
            <p>
                <span th:text="${user.getUsername()}"></span>&
                <span th:text="${user.getUid()}"></span>

            </p>
            <p>
                <a th:href="@{/api/auth/logout}"><button type="button" class="btn btn-danger">Logout</button></a>
            </p>
        </div>
        <ul class="nav nav-tabs nav-stacked ">
            <li role="presentation" class="active"><a href="#">Borrow Book</a></li>
            <li role="presentation"><a href="#">Borrow Manage</a></li>
        </ul>
    </div>

    <div th:fragment="info">
        <div >

        </div>

    </div>


    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script th:src="@{/static/bootstrap-3.4.1-dist/js/bootstrap.js}"></script>
</body>
</html>