<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-secuirty">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script th:src="@{/static/bootstrap-3.4.1-dist/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <!--    <script th:src="@{/static/js/navigation.js}"></script>-->
    <link rel="stylesheet" th:href="@{/static/css/template.css}">
</head>
<body>
    <div>
        <ol class="breadcrumb">
            <li><a href="#">User/Book</a></li>
        </ol>
        <div th:replace="template.html::title"></div>
        <div>
            <table class="table table-condensed">
                <tr>
                    <th>#BID</th>
                    <th>BookName</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Operation</th>

                </tr>
                <tr th:each="book : ${bookList}">
                    <td th:text="${book.getBid()}"></td>
                    <td>(<span th:text="${book.getTitle()}"></span>)</td>
                    <td th:text="${book.getDescription()}"></td>
                    <td th:text="${book.getPrice()}"></td>
                    <td th:text="${book.getAuthor()}"></td>
                    <td>
                        <a th:href="@{/api/user/return-book?bid=}+${book.getBid()}"><button type="button" class="btn btn-primary">Return</button></a>
                    </td>

                </tr>
            </table>
        </div>
    </div>






</body>
</html>